/* app css stylesheet */
body {
  background: rgb(240,240,240);
}

.wrapper {
  padding: 2.5%;
}

/* menu */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* search */
.search {
  margin-top: 2%;
  padding: 2%;
}

.search-icon-wrapper {
  position: absolute;
}

.fa-search {
  color: rgb(240,240,240);
  position: relative;
  left: 15px;
  top: 10px;
}

.search-box {
  background: rgb(240,240,240);
  background: linear-gradient(to bottom, rgb(240,240,240), #fff) repeat left top;
  border-radius: 0;
  border: 2px solid rgb(230,230,230);
  color: rgb(200,200,200);
  float: left;
  font-weight: 200;
  height: 40px;
  outline: none;
  padding: 0px 35px;
  width: 30%;
}

.filter {
  margin-left: 60%;
}

.filter #sorted-by {
  color: rgb(200,200,200);
  font-size: 0.65rem;
  font-weight: 200;
  letter-spacing: 1px;
  position: relative;
  top: 10px;
}

/* song list */
.trending-title {
  clear: both;
  color: rgb(180,180,180);
  font-size: 0.6rem;
  margin-left: 5px;
}

.song {
  float: left;
  margin-bottom: 4%;
  width: 50%;
}

@media screen and (min-width: 667px) {
  .song {
    width: 33%;
  }
}

@media screen and (min-width: 1200px) {
  .song {
    width: 25%;
  }
}

.song-thumbnail-gradient {
  position: relative;
  display: block;
}

.song-thumbnail-gradient::before {
  background: linear-gradient(to bottom,rgba(230,230,230,0.3), #000) repeat left top;
  bottom: 0px;
  content: '';
  height: 100%;
  left: 2.5%;
  position: absolute;
  right: 0;
  width: 95%;
}

.song .song-thumbnail {
  height: 95%;
  padding-left: 2.5%;
  width: 95%;
}

.song-data {
  position: absolute;
}

.song-data .artist-name, .song-data .song-title {
  color: white;
  font-weight: 200;
  position: relative;
  left: 15px;
}

.song-data .artist-name {
  font-size: 0.5rem;
  top: -64px;
}

.song-data .song-title {
  font-size: 0.8rem;
  top: -70px;
}

.metadata {
  background: #fff;
  display: table;
  font-size: 0.5rem;
  font-weight: 200;
  left: 2.5%;
  padding: 5% 5% 8% 5%;
  position: relative;
  width: 87%;
}

.metadatum {
  display: table-cell;
}

/* dropdown */
dropdown {
  position: relative;
  z-index: 50;
  top: -20px;
  left: 50px;
}

dropdown > div {
  float: left;
  width: 100%;
}

dropdown > div > div.dropdown-display {
  float: left;
  width: 70%;
  height: 40px;
  cursor: pointer;
  box-sizing: border-box;
}

dropdown > div > div.dropdown-display > * {
  float: left;
  height: 100%;
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}

dropdown > div > div.dropdown-display > span {
  color: #999;
  font-size: 14px;
  width: 135px;
  position: relative;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
}

dropdown > div > div.dropdown-display > span.placeholder {
  color: #AAA;
}

dropdown > div > div.dropdown-display > i {
  position: relative;
  width: 14px;
  margin-left: -24px;
  font-size: 1.125em;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}

dropdown > div > div.dropdown-list {
  float: left;
  position: relative;
  width: 100%;
  transform: scale(1, 0);
  transition: transform ease 250ms;
}

dropdown > div > div.dropdown-list > div {
  position: absolute;
  width: 100%;
  z-index: 2;
  cursor: pointer;
  background: white;
}

dropdown > div > div.dropdown-list > div > div {
  color: #999;
  float: left;
  width: 70%;
  padding: 0 10px;
  font-size: 14px;
  box-sizing: border-box;
  border: solid 1px #DDD;
  border-top: none;
}

dropdown > div > div.dropdown-list > div > div:hover {
  background: #F0F0F0;
}

dropdown > div > div.dropdown-list > div > div.selected {
  background: #999;
  color: white;
}

dropdown > div > div.dropdown-list > div > div > * {
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}

dropdown > div > div.dropdown-list > div > div > span {
  float: left;
  width: 100%;
  position: relative;
  padding-right: 10px;
  box-sizing: border-box;
  color: inherit;
}

dropdown > div > div.dropdown-list > div > div > i {
  float: left;
  width: 20px;
  margin-left: -20px;
  display: none;
}

dropdown > div > div.dropdown-list > div > div.selected > i {
  display: inline-block;
}

dropdown > div.show > div.dropdown-list {
  transform: scale(1, 1);
}

.dropdown-container .fa-angle-down {
  color: rgb(220,220,220);
  font-size: 2rem;
  font-weight: 100;
  margin-left: -70px;
}
