<div class="wrapper">

  <section class="search">
    <div class="search-icon-wrapper"><i class="fa fa-search"></i></div>
    <input type="text" class="search-box" ng-model="query" placeholder="Search">
    <div class="filter">
      <span id="sorted-by">sorted by</span>
      <dropdown id="sortDropdown" placeholder="Newest" list="sortOptions" selected="initialSortValue" property="name"></dropdown>
    </div>
  </section>

  <section class="song-list">
    <p class='trending-title'>TRENDING</p>
    <article ng-repeat="song in songs | filter: query | orderBy: sortValue" class="song">
      <div class="song-thumbnail-gradient">
        <img class="song-thumbnail" src="{{ song.smallThumb.url }}" alt="{{ song.smallThumb.name }}" />
      </div>
      <p class="song-data">
        <span class="artist-name">{{ song.artist.name }}</span>
        <br>
        <span class="song-title">{{ song.title }}</span>
      </p>
      <div class="metadata">
        <span class="metadatum">
          <strong>Difficulty</strong>
          <br>
          {{ song.difficulty }}
        </span>
        <span class="metadatum">
          <strong>Time Signature</strong>
          <br>
          {{ song.metaData.timeSignature.numerator }} / {{ song.metaData.timeSignature.denominator }}
        </span>
        <span class="metadatum">
          <strong>Length</strong>
          <br>
          {{ song.metaData.totalTime | number: 2 }}
        </span>
      </div>
    </article>
  </section>

</div>
